body {
  background-color: #f4f4f4; /* Cor sólida */
  background-image: linear-gradient(
    to bottom,
    #e4d7ca,
    #ececec
  ); /* Gradiente opcional */
  background-size: cover; /* Garante que o fundo cubra toda a tela */
  background-attachment: fixed; /* Mantém o fundo fixo ao rolar */
  font-family: Arial, sans-serif; /* Exemplo de fonte */
}

h1 {
  font-size: 28px;
  font-weight: 300;
}

h5,
.product-info h5 {
  font-weight: bold;
  font-size: 16px;
  color: #333;
  line-height: 1.7em;
  margin-top: 10px;
  text-align: center;
}

h6,
.product-info h6,
.product-info .old-price,
.product-info .current-price,
.product-info .discount,
.product-info .installments {
  font-size: 14px;
  text-align: center;
}

.product-info .old-price {
  color: #999;
  text-decoration: line-through;
}

.product-info .current-price,
.product-info .discount {
  font-weight: bold;
  color: #e20a03;
}

.product-info .installments {
  color: #666;
  font-size: 12px;
  margin-top: 5px;
}

.product-info a,
.product-info h5 a,
.product-info h6 {
  text-decoration: none;
  color: inherit;
}

/* Product Filter Layout */
.product-filter {
  margin-top: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 15px 30px;
  background-color: #ffffff; /* Fundo branco para contraste */
  border-radius: 8px; /* Bordas arredondadas */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra suave para destacar */
  margin-bottom: 20px;
  max-width: 1000px; /* Limita a largura para uma aparência mais centralizada */
  margin-left: auto;
  margin-right: auto;
}

.filter-options,
.sort-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.filter-options label,
.sort-options label {
  font-size: 14px;
  color: #555;
  font-weight: bold;
  margin-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.filter-options select,
.sort-options select {
  padding: 8px 12px;
  font-size: 14px;
  color: #333;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 6px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.filter-options select:hover,
.sort-options select:hover,
.filter-options select:focus,
.sort-options select:focus {
  background-color: #e0e0e0; /* Efeito hover */
  border-color: #bbb;
}

.btn-apply-filters {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-apply-filters:hover {
  background-color: #61400d;
  box-shadow: 0px 4px 8px rgba(0, 123, 255, 0.3);
}
/* Product Layout */
.products {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 20px;
}

/* Estilo para o informativo */
#how-it-works-filter {
  width: 100%;
  padding: 40px 20px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #e7cbae, #968883);
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #fff;
  overflow: visible;
}

/* Container interno do texto */
#how-it-works-filter .info-container {
  max-width: 800px; /* Define o limite máximo de largura */
  margin: 0 auto; /* Centraliza o container */
}

/* Estilo do título */
#how-it-works-filter h2 {
  font-size: 2rem;
  margin-bottom: 20px; /* Espaçamento abaixo do título */
  color: #fff;
  font-weight: bold;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Sombra no texto */
}

/* Estilo dos parágrafos */
#how-it-works-filter p {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 15px;
  color: #fdfdfd;
}

/* Destaques */
#how-it-works-filter p .highlight {
  color: #ffe259; /* Cor de destaque */
  font-weight: bold;
}

.product-card {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 calc(20% - 15px);
  padding: 15px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-image {
  display: flex;
  height: 200px; /* Altura fixa para o container das imagens */
  justify-content: center;
  overflow: hidden; /* Esconde partes da imagem que excedem o container */
  align-items: center;
  width: 100%; /* Largura fixa do container */
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Mostra a imagem inteira com possíveis espaços vazios */
  background-color: #ffffff; /* Fundo para áreas vazias */
  border-radius: 20px !important;
}

/* Responsive Adjustments */
@media (max-width: 920px) {
  .product-card {
    flex: 1 21%;
  }

  .products .product-card:first-child,
  .products .product-card:nth-child(2) {
    flex: 2 46%;
  }
}

@media (max-width: 600px) {
  .product-filter {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .filter-options,
  .sort-options {
    width: 100%;
  }

  .btn-apply-filters {
    width: 100%;
  }

  .product-card {
    flex: 1 46%;
  }
}
